html {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(247, 48, 48));
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 2.5em 10em;
}
#credits {
    font-style: italic;
    font-size: .75em;
    margin-bottom: 20px;
}

header {
    text-align: center;
}

figure {
    text-align: center;
}

p {
    font-size: 125%;
}

table {
    margin: auto auto;
}

thead {
    background-color: lightgray;
}

table img{
    height: 170px;
    width: 170px;
    padding: 10px 10px 10px 10px;
}

#recommend {
    text-align: center;
    font-weight: bolder;
}
